{% extends 'app/base.html' %}
{% load static %}
{% block title %} Đổi mật khẩu thành công {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Wellcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-1 text-center">
            <h3>Đã đổi mật khẩu thành công</h3>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}